body{
    background-color:rgb(235, 235, 14) ;
    background-size: cover;
    background-position: cover;
}
.login{
    width: 360pxpx;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position:relative;
    z-index: 1;
    background: rgb(243, 106, 14);
    max-width: 360px;
    max-height: 400px;
    margin: 0 auto 100px;
    padding: 30px;
    text-align:center;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline:1;
    background: #f2f2f2;
    width:100%;
    border:0;
    margin: 0 0 15px;
    padding:10px;
    box-sizing: border-box;
    font-size:14px;
}
input[type=submit] {
    font-family:"Roboto" sans-serif;
    text-transform: uppercase;
    outline:0;
    background: black;
    width:100%;
    border:0;
    padding:15px;
    color:#FFFFFF;
    font-size:14px;
    cursor:pointer;
}
p{
    color: whitesmoke;
}